/* CreateExam.module.css */
.container {
  text-align: center;
  padding: 20px;
}

.categorySelection {
  margin-top: 20px;
}

.categorySelection h2 {
  margin-bottom: 10px;
}

.examHeading{
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: blueviolet;
}

.questionType {
  width: 50%;
  text-align: left;
  font-size: large;
    background-color: #214e7b;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    font-family: Arial, sans-serif;
}
.questionType img{
  display: block;
  max-width: 100%; /* Make sure the image doesn't exceed the container's width */
  height: auto;
}


.questionType input[type="text"]{
  width: 100%;
  margin-top: 5px;
  font-size: larger;
}


.categorySelection button {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.categorySelection button:hover {
  background-color: #0056b3;
}

.questionForm {
  margin-top: 20px;
}

.questionForm h2 {
  margin-bottom: 10px;
}

/* Style for form fields if needed */
.formField {
  margin-bottom: 20px;
}

/* Style for submit button */
.submitButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #218838;
}
