/* Exams.module.css */
.container {
  text-align: center;
  padding: 50px;
}

.container h1 {
  margin-bottom: 20px;
  color: #333;
}

.examGo{
  cursor: pointer;
  color:#0056b3;
}
.examDelete{
  cursor: pointer;
  color:#0056b3;
}
.examIndi{
  display: flex; 
  width: 50%;
  margin:auto;
  padding:10px;
  border-bottom: #007bff;
  justify-content: space-between;
}
.examIndi:hover{
  background-color: #0d1823;
  transition: background-color 0.3s ease;
}

.reports{
  right:10px;
  cursor:pointer;
  margin: auto;
}
.reports:hover{
  background-color: #162d45;
  margin-right:10px;
  transition: background-color 0.3s ease;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}
